{% extends "auction/template.html" %}
{% load static %}

{% block title %} Listings {% endblock title %}

{% block body %}
<div id="pagewrap">
    <div class="gallery">

        {% for item in page_items %}

        <a href="{% url 'itempage' item.title %}" class="image">
            <div class="item-gallery">
                <img src="{{ item.image }}" />
                <p>{{ item.title }}</p>
                <p>{{ item.starting_bid }}$</p>
                <p>{{ item.description }}</p>
                <p>By {{ item.user}}</p>
            </div>
        </a>
        {% empty %}
            <div>
                <li>No Active item</li>
            </div>
        {% endfor %}

    </div>
</div>

<!-- Pagination Controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_items.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_items.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_items.number }} of {{ page_items.paginator.num_pages }}.
        </span>

        {% if page_items.has_next %}
            <a href="?page={{ page_items.next_page_number }}">Next</a>
            <a href="?page={{ page_items.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock body %}