{% extends "auction/template.html" %}
{% load static %}


{% block title %} Login Page {% endblock title %}

{% block body %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Have an account?</h3>
                    <form action="{% url 'login' %}" class="signin-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required name="Username">
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password"
                                required name="Password">
                            <span toggle="#password-field" class="fa fa-fw icon-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary" style="color: #fff;">Remember Me
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="w-50 text-md-right">
                                <a href="#">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                    <div class="social d-flex text-center">
                        
                        <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="mr-2 icon-google"></span>
                            Google</a>
                        <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="mr-2 icon-twitter"></span>
                            Twitter</a>
                    </div>
                    <br>
                    <br>
                    <div class="w-100 text-md-left">
                        Don't  have an account?
                        <a href="{% url 'signup' %}"">Sign Up here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}

{% block script %}
    
{% endblock script %}