{% extends "auction/template.html" %}
{% load static %}

{% block title %} Signup Page {% endblock title %}

{% block body %}
{% for message in messages %}
    
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <form action="{% url 'signup' %}" class="signup-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required name="Username">
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group w-50">
                                <input type="text" class="form-control" placeholder="Firstname" name="Firstname">
                            </div>
                            <div class="form-group w-45 d-md-rigth">
                                <input type="text" class="form-control" placeholder="Lastname" name="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Example@gmail.com" name="Email">
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Enter Password"
                                required name="Password">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control"
                                placeholder="Enter Password Again" required name="Password2">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-wrap checkbox-primary" style="color: #fff;">Agree to terms and folano bahman
                                <input type="checkbox" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}